@charset "UTF-8";
#content {
	position: relative;
	overflow: hidden;
	margin-top: 100px;
}

.more_wrap {
	padding-top: 54px;
	background: #fff;
}

.sub_wrap {
	min-height: 390px;
}

.sub_wrap {
	width: 1024px !important;
	margin: 0 auto 0 auto;
	padding-bottom: 50px;
}

.sub_wrap nav {
	display: block;
	float: left;
	width: 238px;
	padding-left: 31px;
}

ul, ol, li {
	list-style: none;
}
.faq_list .list li .ans.on {
	margin-bottom: 0;
	padding: 35px 32px;
	border-radius: 0;
	background: rgba(0, 0, 0, 0.08);
	font-size: 16px;
	line-height: 26px
}



.faq_list .list li .ans {
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
}

.faq_list .list li .ans.on {
	height: auto;
	opacity: 1;
} 

.sub_wrap nav ul li {
	margin-bottom: 26px;
}

ul, ol, li {
	list-style: none;
}

.wrap.show, footer.show {
	visibility: visible;
}

.sub_wrap nav ul li a {
	display: block;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.56);
}

a {
	text-decoration: none;
}

.sub_wrap .align_rt {
	float: right;
	width: 724px;
	margin-right: 31px;
}

.faq {
	background: #fff;
}

.faq .top_link {
	overflow: visible;
	height: 40px;
	border-top: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	background: #fff;
}

.faq .top_link {
	padding-bottom: 0px;
}

.faq .top_link li {
	width: auto;
	margin-right: 18px;
	background: none;
	letter-spacing: -1px;
}

.faq .top_link li {
	float: left;
}

ul, ol, li {
	list-style: none;
}

.faq .top_link li {
	letter-spacing: -1px;
}

ul, ol, li {
	list-style: none;
}

.faq .top_link li a {
	display: block;
	position: relative;
	height: 40px;
	padding: 0;
	border: none;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.87);
	text-align: center
}

.faq .top_link li a.on {
	background: #fff;
	font-weight: bold;
	color: rgb(242, 17, 76)
}

.faq .top_link li a.on:after {
	display: block;
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 2px;
	background: rgb(242, 17, 76)
}

}
.faq .top_link li:nth-child(2), .faq .top_link li:nth-child(5), .faq .top_link li:nth-child(8)
	{
	width: auto;
}

.faq .top_link li {
	margin-right: 18px;
	background: none;
	letter-spacing: -1px;
}

.faq_list {
	clear: both;
	margin-top: 0;
	padding: 0;
}

.faq_list {
	background: #fff;
}

ul, ol, li {
	list-style: none;
}

.faq_list .list li:first-child {
	border-top: none;
}

.faq_list .list li {
	border-bottom: 1px solid #e6e6e6;
}

.faq_list .list li .link {
	position: relative;
	height: auto;
	padding: 34px 0;
	font-size: 18px;
	line-height: normal;
}


.faq_list .list li .link span {
	display: block;
	overflow: hidden;
	height: auto;
	margin-right: 30px;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}

.faq_list .list li .link::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	display: inline-block;
	width: 12px;
	height: 8px;
	margin-top: -4px;
	background: #fff url('//image.goodchoice.kr/images/web_v3/ico_arr_3.png') 0 0 no-repeat;
	background-size: 12px auto;
}
.faq_list .list li .link.on::after {
    background-position: 0 -8px;
}


.faq_list .list li .ans {
	overflow: hidden;
	height: 0;
	padding: 0;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.04);
	font-size: 14px;
	line-height: 22px;
	opacity: 0;
	word-wrap: break-word;
	word-break: break-all;
}

.sub_wrap nav ul li a.active {
	font-size: 18px;
	font-weight: bold;
	color: rgb(230, 28, 81);
}
