@charset "UTF-8";
 #topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 72px;
	transition: 0.4s;
	background-color: #f7323f;
	z-index: 220;
}

a {
	text-decoration: none;
}

#topCenter {
	position: absolute;
	left : 20%;
	width: 1024px;
	height: 64px;
	background: none;
	margin: 0 auto;
}

ul, ol, li {
	list-style: none;
}

#logo {
	position: absolute;
	top: 26px;
	left: 31px;
	width: 96px;
	height: 20px;
	margin: 0;
	background: url(https://lh3.googleusercontent.com/VAIw4PJdn9A-RI9jmf9vfrBoLk39xE8LAdUIJ7q_1VfybnnEctlgyImg7OxWUot2l02NptxLP_uDRs21WJdYpCdOBKh4mCKYjYT8MbqsgW078YX71DjV5OfhizJcBUa7-EmA1-OWH_s_mCA5XSM4BRc9N7Vf0E_Vd0Jz_Qvr11jbv5TpyQnli3th2eRj5E6ws_lZ0TcK2S9oLDArzWMiWrZcLWizX00JHi9lTClWpxHDVldfGCvDcaCPqf5gBbBfh-MMhUUYixFiAA_pG85051i9mU0pmhCh27HKYGmVVHc1oglnRHyhCEOgvtPxnpGLlHNieS36ghLeSEvtehhznHLFu3qs480cWFHzMKo14g8eNYTXVxiUbdbnHgpsKxHc48IL9eYbi9Ccb_9AuGUYOwSnduPquIy2oXEycdfiVhSuWLuLl9PlKA8hQXJwx_9OrNo22Ahu9iaUy-xphifGeyK6U3RBALlARQHg0IidFhbM0_bZ2S87zNHsy14yTsXxhCOp8POsyIqJ-tXw1E8j2gvL2p2u1z6nzQtmhFmsnShFqMqm-moSOnzXwckEsi0uEcivxesR2V-_hc5rxTzDA1acffaRF03beE3mCvlkDmHJaLspDJs32xa-1l5Q-6j4mmSFmyTcbuyk4VJ0OlPHSiU=w96-h21-no) 0 0 no-repeat;
	background-size: 96px auto;
}

#aLogo {
	display: block;
	text-indent: -9999px;
	text-decoration: none;
}

#search {
	position: absolute;
	border: none;
	text-indent: -9999px;
	top: 22px;
	z-index: 10;
	width: 30px;
	height: 30px;
	background: url(https://lh3.googleusercontent.com/Y8Jnjg3xHtIbrSpz9oZY95onAgkY29hiJ5a3z_J7GFegh_GEJRi3k1C1IIetQ2BoBHxbROA-xVp7NKToWTLuB3kHPiYjwtmeaa_8kCHGwjfzMq15ObgGa7Lyhyawdu2sXxqkIGtP7y7o9l1X3iBdNg9Caa2YpDbOf8fs6CGSV5DCv20UM8_Ss585gfqSeheVwsq5goNff6ltTMZpyyDfXA23dCKP6ZQlUc31Y7fAWKqJ6NdjKIeeX65dEb_s3SVqU1ax7EW_lqK8MTOgyuiLLVcKf67ew7kHHNPDAVAVb7ITGPPf_VgoQxo7lu2CHAAIK09T0Q4UffXuVDabb1yu6GpJMP7aHlsizLLNPbut9CK-ixaVrEDFUlqHdVHBRC5mbm2hdUexLVOKVlEX1YNfEF0sgtbGA0EFmRDrlWiLHVFfVFUQRX9Bd95FnJBYgH2twJt3UZmc9q8H9ygLDfG3NWHQWdbl3DSQ_Hf4VSMqpYYyCymSpSmAaw1ja82JsFLfFTsYQUZgSZ-mpbCZgUI4ZU4Xt0P4ojkuBLZsRZB-8Rug3xRrlFJdfwfcRmO9gqyx7eVj0RaBhqB3FORi7pnIQ0IuDmk5I-SRJrNL0JmogzUBseO--qZ0YXfp-oZLQxi3e7fI4m9L6bnqoK7PPuhxnoY=s72-no) 50% 50% no-repeat;
	background-size: 24px auto;
	right: 396px;
}

#searchClose {
	position: absolute;
	border: none;
	text-indent: -9999px;
	top: 22px;
	right: 206px;
	z-index: 10;
	width: 30px;
	height: 30px;
	background: url(https://lh3.googleusercontent.com/QzHFiRfPpCnjMTtyayToibfqL2yua1UpK0avuDodigx-qEfB1X1AmhP-7Y8E6C4uiaEZLwX482l4ZWBYSql__bu3JqUiVFy76ARbb_YsI3mXknpJnJ0VdLJgT4VPw3WzSwjPe4JEtD68BjGpMA66wXy5Sux7mv4Bv4UMmTOBAq1wDG0eQMJVxsVGi5XJdWevX1J-U28IzM3Eyh5NzWWMXyrKoADSkojOdmggP3UQ2UeHmFD143UHiBBdCeDd9_bwVseDwPf4EdI4OGa5vWp1c7euYeR_r43qSE8MmimN-Am0l4aBdDZZe0x0amB0slFKHnrmUyZrnTS_J8jWRwJq-vU-4MBB8-IkBEt-W3uxEV0suLbP0zg3fqpoZq1yAOQCZJTAlfKnKmtv69TLIakhoTBC5FTCZBctGr6Qd3EElrGedl89IFfaE2Qa5c3l5QA99LRCFloujbwDgGwcuktTyLcR7xymEGhUvWPk0RS1azww2WawZMdXBVCAYlH7gZHdIRie9J1MiQzTd8HeScH3ErCAAFVLSRYS9lpLga766ZW9HXdtlnk2xtvQ0fjj6VY_ADs4ElEkMZG3bpax8Ghtu8yIjunl5FS0MRtDSLyco_joyDxap46avIurwefHX7lx3khdxWI9CNprrq9C5Pl0ht8=s72-no) 50% 50% no-repeat;
	background-size: 24px auto;
}

button {
	padding: 0;
	cursor: pointer;
	box-sizing: border-box;
	margin: 0em;
	font: 400 13.3333px Arial;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	text-rendering: auto;
}

.menubar {
	display: inline-block;
	position: absolute;
	top: 7px;
	right: 31px;
	width: 1600px;
	text-align: right;
	list-style: none;
}

.menubar li {
	display: inline-block;
	position: relative;
	min-width: 53px;
	min-height: 35px;
	margin-left: 30px;
	vertical-align: top;
}

.menubar li a {
	display: inline-block;
	font-size: 18px;
	color: #ffffff;
	letter-spacing: 0;
}

.menubar li button {
	border: none;
	padding: 0;
	background: none;
	font-size: 18px;
	line-height:;
	color: #ffffff;
	letter-spacing: 0;
}

button span {
	position: relative;
}

.menubar li ul {
	display: none;
	position: absolute;
	border-radius: 5px;
	padding: 10px;
	background: #fff;
	text-align: left;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.menubar li:hover ul {
	display: block;
	font-size: 14px;
	line-height: 1;
	min-width: auto;
	min-height: auto;
	margin: 0 0 14px 0;
	vertical-align: top;
}

.menubar li:hover ul a {
	color: #000000;
}

.list_03 {
	top: 30px;
	left: -65px;
	width: 184px;
}

.mainContent {

	
	display: none;
    position: fixed;
    top: 72px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 300;
    background: none;

}

.srch_bar {
	position: absolute;
	margin-top:72px;
	left: 50%;
	width: 600px; /*787px*/
	height: 352px;
	margin-left: -305px;
	padding: 24px 20px;
	background: #fff;
	border-radius: 0 0 4px 4px;
	text-align: left;
}

.srch_bar ul li {
	margin-left: 10px;
	margin-bottom: 3px;
}

.srch_bar li a {
	color: green;
}

#keyword {
	position: absolute;
	left: 240px;
	top: 22px;
	width: 500px;
	height: 25px;
	font-size: 16px;
	background-color: transparent;
	border: none;
	color: #ffffff;
}

#keyword::placeholder {
	color: #ffffff;
}

#search2 {
	position: absolute;
	border: none;
	text-indent: -9999px;
	top: 22px;
	right: 596px;
	z-index: 310;
	width: 30px;
	height: 30px;
	background: url(https://lh3.googleusercontent.com/Y8Jnjg3xHtIbrSpz9oZY95onAgkY29hiJ5a3z_J7GFegh_GEJRi3k1C1IIetQ2BoBHxbROA-xVp7NKToWTLuB3kHPiYjwtmeaa_8kCHGwjfzMq15ObgGa7Lyhyawdu2sXxqkIGtP7y7o9l1X3iBdNg9Caa2YpDbOf8fs6CGSV5DCv20UM8_Ss585gfqSeheVwsq5goNff6ltTMZpyyDfXA23dCKP6ZQlUc31Y7fAWKqJ6NdjKIeeX65dEb_s3SVqU1ax7EW_lqK8MTOgyuiLLVcKf67ew7kHHNPDAVAVb7ITGPPf_VgoQxo7lu2CHAAIK09T0Q4UffXuVDabb1yu6GpJMP7aHlsizLLNPbut9CK-ixaVrEDFUlqHdVHBRC5mbm2hdUexLVOKVlEX1YNfEF0sgtbGA0EFmRDrlWiLHVFfVFUQRX9Bd95FnJBYgH2twJt3UZmc9q8H9ygLDfG3NWHQWdbl3DSQ_Hf4VSMqpYYyCymSpSmAaw1ja82JsFLfFTsYQUZgSZ-mpbCZgUI4ZU4Xt0P4ojkuBLZsRZB-8Rug3xRrlFJdfwfcRmO9gqyx7eVj0RaBhqB3FORi7pnIQ0IuDmk5I-SRJrNL0JmogzUBseO--qZ0YXfp-oZLQxi3e7fI4m9L6bnqoK7PPuhxnoY=s72-no) 50% 50% no-repeat;
	background-size: 24px auto;
} 


<!-- //footer -->

footer {
    overflow: hidden;
    clear: both;
    position: relative;
    margin-top: 120px;
    padding: 63px 31px 40px 31px;
    border-top: 1px solid rgba(0,0,0,0.08);
    background: rgb(245,245,245);
    font-size: 13px;
    line-height: 20px;
    color: rgba(0,0,0,0.38);
            
            
}
        footer .align {
    width: 1024px;
    margin: 0 auto;
}
        footer.show {
    opacity: 1;
    visibility: visible;
}footer .link li {
    
    float: left;
    margin-bottom: 0;
    line-height: normal;
    font-style:normal;
    
}footer .ico a {
    margin-right: 25px;
    font-size: 30px;
  
}

footer .ico a {
    display: inline-block;
    float: left;
    margin-right: 10px;
    font-size: 22px;
    color: rgba(0,0,0,0.48);
}
        ul, ol, li {
    list-style: none;
}
        footer .link li a {
    color: rgba(0,0,0,0.87);
}footer address {
    line-height: 22px;
}address, caption, em, var {
    font-style: normal;
    font-weight: normal;
    }
