@charset "UTF-8";

a {
	text-decoration: none;
}

ul, ol, li {
	list-style: none;
}


.top-background {
	position: absolute;
	width: 100%;
	height: 205px;
	background-color: #F7323F;
	margin: 0px 0px 0px -8px;
}

.top-background p {
	position: absolute;
	margin: 82px 0px 0px 310px;
	font-size: 37px;
	color: white;
}

.nav {
	position: absolute;
	width: 150px;
	color: #646464;
	margin: 240px 0px 0px 290px;
}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 10px 0;
}

.nav-item {
	margin: 12px 0;
}

.nav-link {
	display: block;
	text-decoration: none;
	padding: 4px 10px;
	color: #646464;
	font-size: 18px;
}

.nav-list li:nth-child(3) {
	color: #e61c51;
}

.login_info {
	position: absolute;
	margin: -50px 0px 0px 250px;
	width: 700px;
	font-family: "나눔고딕";
}

.bbs {
	width: 730px;
	height: 850px;
	margin-top: 10px;
	line-height: 1.6em;
}

.bbs td {
	border-bottom: 1px solid #e6e6e6;
	height: 50px;
}

.bbs td a {
	text-decoration: none;
	color: white;
	margin-left: 8px;
}

/*내 정보 수정*/
.nickCancelBtn, .nameCancelBtn, .phoneCancelBtn, .phoneEditButton,
	.nameEditButton, .nickEditButton {
	margin-right: 5%;
	width: 144px;
	height: 42px;
	border-radius: 4px;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.87);
	text-align: center;
	box-sizing: border-box;
	vertical-align: top;
	background-color: #fff;
	border: solid 1px #ccc;
	font-family: "Malgun Gothic";
}

.changeBtn {
	margin-right: 5%;
	width: 100px;
	height: 44px;
	border-radius: 4px;
	font-size: 15px;
	color: white;
	text-align: center;
	box-sizing: border-box;
	vertical-align: top;
	background-color: #f30f4c;
	border: solid 1px #ccc;
	font-family: "Malgun Gothic";
}

.nickConfirmBtn, .nameConfirmBtn, .phoneConfirmBtn {
	margin-right: 5%;
	width: 144px;
	height: 42px;
	border-radius: 4px;
	font-size: 15px;
	color: white;
	text-align: center;
	box-sizing: border-box;
	vertical-align: top;
	background-color: #f30f4c;
	border: solid 1px #ccc;
	font-family: "Malgun Gothic";
	margin-bottom: 40px;
}

.varifBtn {
	margin-right: 5%;
	width: 100px;
	height: 44px;
	border-radius: 4px;
	font-size: 14px;
	color: white;
	text-align: center;
	box-sizing: border-box;
	vertical-align: top;
	background-color: #cccccc;
	border: solid 1px #ccc;
	font-family: "Malgun Gothic";
}

.line {
	border-top: solid 1px #ebebeb;
	border-bottom: solid 1px #ebebeb;
	margin-top: 25px;
	margin-bottom: 20px;
	padding-top: 40px;
	padding-bottom: 70px;
}

.btns {
	font-size: 19px;
}

.text {
	padding-bottom: 10px;
}

.phoneShow, .nameShow, .nickShow {
	display: none;
	margin-top: -75px;
}

input {
	text-align: left;
	padding-left: 15px;
	width: 374px;
	height: 44px;
	font-size: 18px;
	border: solid 1px #ebebeb;
}

input::placeholder {
	color: #bfbfbf;
	text-align: left;
	padding-left: 5px;
}

/*유효성 체크*/
.redText {
	display: block;
	font-size: 14px;
	color: #f30f4c;
	margin-left: 12px;
}

.greenText {
	display: block;
	font-size: 14px;
	color: green;
	margin-left: 10px;
}

span {
	margin-top: 5px;
	margin-bottom: -49px;
}

#phoneSpan {
	margin-bottom: -44px;
}

.phoneCancelBtn, .phoneConfirmBtn {
	margin-top: 5px;
}


/*레이어 팝업*/

.btn_red_fill {
    width: 100%;
    height: 56px;
    margin-top: 16px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    background: linear-gradient(to bottom, #ff0055 0%,#e62243 100%);
}

body {
	margin: 0;
	padding: 0;
	max-height: 800px;
}

#btn_open {
	background-color: white;
	border: 0px;
	width: 100px;
	font-size: 17px;
	text-decoration: underline;
}

#btn_close1 {
	background-color: white;
	border: 0px;
	font-size: 17px;
	margin-top: 14px;
	margin-right: 14px;
	display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border: none;
    background: url(//image.goodchoice.kr/images/web_v3/ico_close.png) 50% 50% no-repeat;
    background-size: 24px auto;
    text-indent: -9999px;
}

.Pstyle {
	opacity: 1.0;
	display: none;
	position: relative;
	width: 336px;
	height: 470px;
	border: 5px solid #fff;
	padding: 20px;
	background-color: #fff;
}

.dot_text li {
	margin-bottom: 7px;
	margin-left: -40px;
    font-size: 16px;
    padding-left: 16px;
    background: url(//image.goodchoice.kr/images/web_v3/ico_bul.png) 0 0 no-repeat;
    background-size: 14px auto;
    line-height: 24px;
    color: rgba(0,0,0,0.8);
}

.checkbox1 {
	margin-top: 50px;
}

 .checkbox {
	width: 20px;
    height: 20px;
    border: none;
    background: url(./../imgs/ico_chk.png) 0 0 no-repeat;
    background-size: 20px auto;
    cursor: pointer;
}

.Pstyle strong {
	font-size: 24px;
    font-weight: bold;
}

.cont strong {
    display: block;
    margin-bottom: 21px;
    padding-top: 5px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 100;
    color: #e62243;
    
}

.cont b {
	margin-top: 10px;
    font-weight: bold;
}