@charset "UTF-8";
#topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 72px;
	transition: 0.4s;
	background-color: #f7323f;
	z-index: 220;
}

a {
	text-decoration: none;
}

#topCenter {
	position: relative;
	width: 1024px;
	height: 64px;
	background: none;
	margin: 0 auto;
}

ul, ol, li {
	list-style: none;
}

#logo {
	position: absolute;
	top: 26px;
	left: 31px;
	width: 96px;
	height: 20px;
	margin: 0;
	background: url(imgs/h1_logo_pc_w.png) 0 0 no-repeat;
	background-size: 96px auto;
}

#aLogo {
	display: block;
	text-indent: -9999px;
	text-decoration: none;
}

#search {
	position: absolute;
	border: none;
	text-indent: -9999px;
	top: 22px;
	z-index: 10;
	width: 30px;
	height: 30px;
	background: url(imgs/ico_srch_2.png) 50% 50% no-repeat;
	background-size: 24px auto;
}

#searchClose {
	position: absolute;
	border: none;
	text-indent: -9999px;
	top: 22px;
	right: 206px;
	z-index: 10;
	width: 30px;
	height: 30px;
	background: url(imgs/ico_close_2.png) 50% 50% no-repeat;
	background-size: 24px auto;
}

button {
	padding: 0;
	cursor: pointer;
	box-sizing: border-box;
	margin: 0em;
	font: 400 13.3333px Arial;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	text-rendering: auto;
}

.menubar {
	display: inline-block;
	position: absolute;
	top: 7px;
	right: 31px;
	width: 1600px;
	text-align: right;
	list-style: none;
}

.menubar li {
	display: inline-block;
	position: relative;
	min-width: 53px;
	min-height: 35px;
	margin-left: 30px;
	vertical-align: top;
}

.menubar li a {
	display: inline-block;
	font-size: 18px;
	color: #ffffff;
	letter-spacing: 0;
}

.menubar li button {
	border: none;
	padding: 0;
	background: none;
	font-size: 18px;
	line-height:;
	color: #ffffff;
	letter-spacing: 0;
}

button span {
	position: relative;
}

.menubar li ul {
	display: none;
	position: absolute;
	border-radius: 5px;
	padding: 10px;
	/*이부분수정함*/
	background: #fff;
	text-align: left;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.menubar li:hover ul {
	display: block;
	/* 마우스 커서 올리면 서브메뉴 보이게 하기 */
	font-size: 14px;
	line-height: 1;
	min-width: auto;
	min-height: auto;
	margin: 0 0 14px 0;
	vertical-align: top;
}

.menubar li:hover ul a {
	color: #000000;
}

.list_03 {
	top: 30px;
	left: -65px;
	width: 184px;
}

.mainContent {
	height: 2000px;
	width: auto;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0px auto;
	padding: 0px auto;
	border: 0px;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 30
}

.srch_bar {
	position: absolute;
	top: 72px;
	left: 300px;
	width: 60%;
	height: 280px;
	background-color: #ffffff;
	border: 1px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.srch_bar ul li {
	margin-left: 10px;
	margin-bottom: 3px;
}

.srch_bar li a {
	color: green;
}

#keyword {
	position: absolute;
	left: 340px;
	top: 22px;
	width: 700px;
	height: 25px;
	font-size: 16px;
	background-color: transparent;
	border: none;
}

#search2 {
	position: absolute;
	border: none;
	text-indent: -9999px;
	top: 22px;
	right: 596px;
	z-index: 310;
	width: 30px;
	height: 30px;
	background: url(imgs/ico_srch_2.png) 50% 50% no-repeat;
	background-size: 24px auto;
}

.top-background {
	position: absolute;
	width: 100%;
	height: 205px;
	background-color: #F7323F;
	margin: 0px 0px 0px -8px;
}

.top-background p {
	position: absolute;
	margin: 82px 0px 0px 310px;
	font-size: 37px;
	color: white;
}

.nav {
	position: absolute;
	width: 150px;
	color: #646464;
	margin: 240px 0px 0px 290px;
}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 10px 0;
}

.nav-item {
	margin: 12px 0;
}

.nav-link {
	display: block;
	text-decoration: none;
	padding: 4px 10px;
	color: #646464;
	font-size: 18px;
}

.nav-list li:nth-child(3) {
	color: #e61c51;
}

.pwChange {
	position: absolute;
	margin: -230px 0px 0px 250px;
	width: 700px;
	font-family: "나눔고딕";
}

.bbs {
	width: 730px;
	height: 850px;
	margin-top: 10px;
	line-height: 1.6em;
}

.bbs td {
	border-bottom: 1px solid #e6e6e6;
	height: 50px;
}

.bbs td a {
	text-decoration: none;
	color: white;
	margin-left: 8px;
}

/*비밀번호 변경*/
.confirm {
	margin-right: 5%;
	width: 144px;
	height: 50px;
	border-radius: 4px;
	font-size: 15px;
	color: white;
	text-align: center;
	box-sizing: border-box;
	vertical-align: top;
	background-color: #f30f4c;
	border: solid 1px #ccc;
	font-family: "Malgun Gothic";
	margin-bottom: 40px;
}

.text {
	padding-bottom: 10px;
	font-size: 17px;
	color: black;
}

.text_pw {
	margin-bottom: 33px;
	font-size: 18px;
	color: black;
}

input {
	text-align: left;
	padding-left: 15px;
	width: 374px;
	height: 44px;
	font-size: 18px;
	border: solid 1px #ebebeb;
}

input::placeholder {
	color: #bfbfbf;
	text-align: left;
	padding-left: 5px;
}

.myInfoEdit {
	margin-top: 30px;
	margin-bottom: 40px;
	font-size: 17px;
	text-decoration-line: underline;
}

.line {
	border-bottom: solid 1px #ebebeb;
	margin-top: -100px;
	margin-bottom: 20px;
	padding-top: 40px;
	padding-bottom: 70px;
}

/*비밀번호 유효성 검사*/
.redText {
	display: block;
	font-size: 14px;
	color: #f30f4c;
	margin-left: 12px;
}

.greenText {
	display: block;
	font-size: 14px;
	color: green;
	margin-left: 10px;
}

span {
	margin-top: 5px;
	margin-bottom: -23px;
}