@charset "EUC-KR";

.list_03 {
	top: 30px;
	left: -65px;
	width: 184px;
}

.top-background {
	position: absolute;
	width: 100%;
	height: 205px;
	background-color: #F7323F;
	margin: 0px 0px 0px 0px;
}

.top-background p {
	position: absolute;
	margin: 82px 0px 0px 310px;
	font-size: 37px;
	color: white;
}

.nav {
	position: absolute;
	width: 150px;
	color: #646464;
	margin: 240px 0px 0px 290px;
}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 10px 0;
}

.nav-item {
	margin: 12px 0;
}

.nav-link {
	display: block;
	text-decoration: none;
	padding: 4px 10px;
	color: #646464;
	font-size: 18px;
}

.nav-list li:nth-child(3) {
	color: #e61c51;
}



